.no-hover {
    cursor: default;
}

.no-hover:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.connection-details {
    padding-top: 10px;
}

p {
    margin-top: 15px;
    color: #7D8186;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #3B88B6;
    font-size: 24px;
    line-height: 25px;
    font-weight: 300;
}

.navbar .nav li {
    width: 100px; /* or whatever width you want for items */
    display: inline-block;
    float: none;
}
.navbar .nav {
    float: none;
    text-align: center;
}

.alert-cp {
    color: #333;
}

.wireless {
    padding: 5px;
    margin-bottom: 5px;
}

.wireless h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.status-block {
    padding-left: 15px;
    min-height: 18px;
}

#signup .wrapper .formy {
    margin-top:0;
}

.table-width-325 tbody tr th,td {
    width: 325px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.group-title {
    color:#3B88B6;font-weight: 400;font-size: 16px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    text-decoration: none;
    outline: 0;
    background-color: #e7e7e7;
    color: #555;
}